extends layout

block content
  section(ng-controller='ImageCtrl')
    p
      span(ng-if='loading') loading...
    | Welcome, #{name}!

    img(ng-if='img !== ""', src='{{img}}')

    button(ng-if='img !== ""', ng-click='saveImage()') Save!

    p
      a(href='/logout') Logga ut!
    p
      img(src=image)
