extends layout

block content
  main.c-modal(ng-controller='ImageCtrl')
    p.lead(ng-if='loading')
      i.fa.fa-circle-o-notch.fa-spin.fa-lg
      |  Laddar...

    p(ng-if='!loading')
      img.c-result(ng-src='{{img}}')

    p
      button(ng-if='!loading', ng-click='saveImage()')
        i.fa.fa-check-circle(ng-if='!upload_loading')
        i.fa.fa-circle-o-notch.fa-spin(ng-if='upload_loading')
        | {{savebutton}}

    p(ng-if='!loading')
      | Om du vill så kan du också&nbsp;
      a(href='{{img}}') ladda ned
      |  bilden.

    p
      a(href='/logout') Logga ut!

    include footer
