extends layout

block content
  main.c-modal
    p
      img(src='/images/logo.svg', class='c-logo c-logo--large')
    p.lead
      | Vi närmar oss årets händelse &ndash;&nbsp;
      a(href="http://medieteknikdagarna.se") MTD 2015
      | . Byt ut din profilbild för att maxa MTD-hypen, så ses vi 25-26 mars!

    p
      a(href='/auth/facebook', class='button')
        i(class='fa fa-facebook-official')
        | Logga in med Facebook

    include footer
