extends layout

block content
  main.c-container
    h2 Integritetspolicy

    p.lead
      | Hej! Här kommer lite information om hur vi kommer använda informationen du ger
      | oss när du loggar in med ditt Facebook-konto.

    :markdown
      Först och främst: **vi gör inget du inte ger oss tillåtelse att göra**. Det
      vi kommer göra är att ladda ned den profilbild du har just nu, och pimpa till
      den en aning. Vi kommer sedan ge dig möjligheten att ladda upp den på Facebook,
      **vilket kommer ske till ett nytt, dolt album**. Du kommer då kunna välja
      att ha den nya bilden som din profilbild.

      Absolut ingenting kommer publiceras publikt på Facebook, om du inte själv
      publicerar bilden.

      Har du några frågor eller funderingar, skicka ett mail till
      [webb@medieteknikdagarna.se](mailto:webb@medieteknikdagarna.se).

    p
      a(href='/') Gå tillbaka

    include footer
